.titulo {
    text-align: center;
}
 

.card {
    width: 300px;
    height: 530px;
    background-color: rosybrown;
    padding: 10px;
    margin: 50px;
}

.card img {
    width: 100%;
}
 
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
  